body{

}
nav{
    background-color: rgb(226, 202, 248);
    height: 60px;
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
}
.navbar1{
    display: flex;
    padding: 18px;
    gap: 10px;
    
}
.navbar2{
     display: flex;
    padding: 18px;
    gap: 10px;
}
.getfree{
    background-color: black;
    color: white;
    cursor: pointer;
}
.partie1{
    text-align: center;
}
.get{
    background-color:rgb(26, 172, 26);
    color: white;
    border-radius: 10px;
    height: 33px;
}
.first{
    padding: 0 500px 0 500px;
}
.soustitre{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.sell{
    text-align: left;
}
.media{
    display: flex;
    justify-content:left;
    padding: 0 500px 0 0;
}
.partie2{
    padding: 0 250px 0 250px;
}
.commenter{
    display: flex;
    justify-content: right;
    padding: 0 550px 0 0;

}
.michelle{
    display: flex;
    justify-content: space-between;
    padding: 0 150px 0 20px;
}

.learn{
    background-color:rgb(244, 194, 119) ;
    width: 150px;
    border-radius: 10PX;
}
.commente{
    padding: 20px 450px 0 20px;

}
.comm{
    background-color: rgb(247, 195, 118);
    border-radius: 37px;
    height: 180px;
    border: 2px solid;
}
.orange{
    position: absolute;
    right: 150px;
top: 724px;
}
.Jackson{
    width: 25px;
    border-radius: 100%;
}
.photo{
    display: flex;
    text-align: center;
}
.partie3{
    padding: 100px 0 0 180px;
}
.gr{
    padding: 0 250px 0 350px;
}
.grow{
    text-align: left;
}
.go{
    display: flex; 
    justify-content:right;
   
}
.green{
     position: absolute;
    left: 55px;
top: 1285px;
}
.easy{
    padding: 20px 0 0 95px;
    background-color: rgb(142, 241, 123);
    border-radius: 37px;
    height: 150px;
    width: 980px;
    border: 2px solid;
}
.to{
    padding: 0 100px 0 250px;
}
.fille{
    display: flex;
    justify-content: space-around;
    padding: 0 350px 0 0;
}
.prof{
    width: 25px;
    border-radius: 100%; 
}
.more{
    background-color:rgb(142, 241, 123) ;
    width: 150px;
    border-radius: 10PX;
}
.blue{
     position: absolute;
    right: 120px;
top: 1848px;
}
.comm2{background-color: rgb(29, 62, 244);
    border-radius: 37px;
    height: 180px;
    border: 2px solid;
    color: white;
}
.partie4{
    padding: 100px 250px 100px 250px;
}
..sell4{
    text-align: left;
}
.learn2{
    background-color:rgb(29, 62, 244);
    width: 150px;
    border-radius: 10PX;
    color: white;
}
.partie5{
    width: 800px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    border: 2px solid;
    margin-left: 300px;
    border-radius: 15px;
    height: 250px;
    align-items: center;
    padding: 50px;
    background-image: url(./world_2.png);
}
.num{
    font-size: 50px;
}
.live{
    border: 2px solid;
    width: 280px;
    height: 280px;
    display: flexbox;
    justify-content: space-around;
    border-radius: 15px;
    padding: 10px;
}
.li{
    width: 40px;
    margin: 10px;
    border: 2px solid;
}
.amore{
    padding: 75px 0 0 0;
}
.partie6{
    display: flex;
    justify-content:center ;
    padding: 50px;
    gap: 20px;
}
.am{
    padding: 92px 0 0 0;
}
.par2{
   border: 2px solid;
    width: 850px;
    height: 100px;
    display: flex;
    
    border-radius: 15px;
    padding: 50px;
    margin: 0 0 0 270px;
 
}
.st{
    background-color: rgb(254, 225, 10);
    width: 180px;
    height: 30px;
    border-radius: 15px;
}
.your{
    padding: 0 70px 0 70px;
}
.too{
     padding: 20px 70px 0 70px;
     text-align: center;
}